raw_data/
results/
**/results
processed_data/
._*
**/._*
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
**/__pycache__/
.DS_Store/
**/.DS_Store/
continental_variogram*.nc

data/archive*
data/*.nc
netcdf_grids/

